---
BasedOnStyle: WebKit
TabWidth: 4
UseTab: Always
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
    AfterControlStatement: Never
    AfterCaseLabel: false
    AfterClass: false
    AfterEnum: false
    AfterObjCDeclaration: false
    AfterUnion: false
    BeforeCatch: false
    BeforeElse: false
    BeforeLambdaBody: false
    BeforeWhile: false
    AfterNamespace: true
    AfterFunction: true
    AfterExternBlock: true
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
IndentExternBlock: false
IndentCaseLabels: false
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
SpacesInContainerLiterals: false
SpaceAfterTemplateKeyword: false
