[submodule "micro_ros_stm32cubemx_utils"]
	path = firmware/third_party/micro_ros_stm32cubemx_utils
	url = https://github.com/micro-ROS/micro_ros_stm32cubemx_utils.git
[submodule "eigen"]
	path = firmware/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ulog"]
	path = firmware/third_party/ulog
	url = https://github.com/rdpoor/ulog
