[submodule "micro_ros_stm32cubemx_utils"]
	path = firmware/third_party/micro_ros_stm32cubemx_utils
	url = https://github.com/micro-ROS/micro_ros_stm32cubemx_utils.git
[submodule "eigen"]
	path = firmware/third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ulog"]
	path = firmware/third_party/ulog
	url = https://github.com/rdpoor/ulog
[submodule "host/vel2d_bridge/third_party/CRCpp"]
	path = host/vel2d_bridge/third_party/CRCpp
	url = https://github.com/d-bahr/CRCpp
[submodule "firmware/third_party/printf"]
	path = firmware/third_party/printf
	url = https://github.com/mpaland/printf.git
[submodule "firmware/third_party/freertos-threadsafe-sink"]
	path = firmware/third_party/freertos-threadsafe-sink
	url = https://github.com/znxuz/freertos-threadsafe-sink.git
