[submodule "micro_ros_stm32cubemx_utils"]
	path = third_party/micro_ros_stm32cubemx_utils
	url = https://github.com/micro-ROS/micro_ros_stm32cubemx_utils.git
[submodule "eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ulog"]
	path = third_party/ulog
	url = https://github.com/rdpoor/ulog
[submodule "third_party/printf"]
	path = third_party/printf
	url = https://github.com/mpaland/printf.git
[submodule "third_party/freertos-threadsafe-sink"]
	path = third_party/freertos-threadsafe-sink
	url = git@github.com:zijian-x/freertos-threadsafe-sink.git
